{% extends 'base.html.twig' %}

{% block title %}New Speciality
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="fw-bold">Ajouter une nouvelle spécialité</h1>

		{{ include('speciality/_form.html.twig', { button_label: 'Enregistrer'}) }}

		<a href="{{ path('app_speciality_index') }}" class="btn btn-secondary">Retour à la liste des spécalités</a>
	</div>
{% endblock %}
